[slack.source]
Token="${SLACK_BOT_TOKEN}"
AppToken="${SLACK_APP_TOKEN}"
PrefixMessagesWithNick=true

[discord.destination]
Token="${DISCORD_BOT_TOKEN}"
Server="${DISCORD_SERVER}"
AutoWebhooks=true

[[gateway]]
name="slack-to-discord"
enable=true

[[gateway.in]]
account="slack.source"
channel="${SLACK_CHANNEL}"

[[gateway.out]]
account="discord.destination"
channel="${DISCORD_CHANNEL}"
