[slack.betterstack]
Token="${SLACK_BOT_TOKEN}"
RemoteNickFormat="slk-{NICK}"

[discord.incidents]
WebhookURL="${DISCORD_WEBHOOK_URL}"
RemoteNickFormat="dsc-{NICK}"

[[gateway]]
name="slack-discord-incidents"
enable=true

    [[gateway.in]]
    account="slack.betterstack"
    channel="${SLACK_CHANNEL}"          # e.g. #betterstack-status

    [[gateway.out]]
    account="discord.incidents"
    channel="${DISCORD_CHANNEL}"        # e.g. ID:1442651713419874526
